<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="img/IMG_9712.JPG" alt="jawoto" width="200px" class="img-thumbnail rounded-circle"/>
      <h1 class="display-4"> Jawoto </h1>
      <p class="lead"> Web Developer</p>
    </div>
  </div>
</div>