 
    <h1>Hello World !!!</h1>
    <p>Welcome to my web server</p>
    <p>Halo saya <%= nama  %> </p>
    <h4>
        Daftar Mahasiswa
    </h4>
    <% if (mahasiswa.length < 1 ) { %>
        <p>Data Mahasiswa masih kososng</p>
    <% } else { %>
    <% mahasiswa.forEach(mhs => { %>
        <ul>
            <li>
                Nama : <%= mhs.nama  %>
            </li>
            <li>
                Email : <%= mhs.email %>
            </li>
        </ul>
    <% }) %>
    <% } %>